<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Condenserr Management</title>
</head>
<body>
    <form method="post" action="/manage">
  <button type="submit" name="submit_button" value="Send">Send</button>
  <button type="submit" name="submit_button" value="Clear">Clear</button>
</form>

<h2>Items Awaiting Notification</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date</th>
  </tr>
{% for item in items %}
      <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.date_created }}</td>
      </tr>
{% endfor %}
</table>

</body>
</html>